#InfosContainer {

    height: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    color: var(--ion-color-step-600);
    background: var(--ion-item-background) * 0.1;
}

#InfosContainer ion-col {

    color: var(--ion-color-step-600);
    font-weight: bold;
}

#InfosContainer #progress-infos,
#InfosContainer #preview-image {
    padding: 0;
}

#InfosContainer ion-segment {
    background: var(--ion-item-background, var(--ion-background-color, #fff));

}

#InfosContainer ion-segment-button {
    background: rgba(255, 255, 255, 0.1);
}

#InfosContainer ion-segment-button.segment-button-checked {
    background: rgba(56, 128, 255, 0.2);
    color: white;
}

#InfosContainer .progress-info {
    padding: 1em;
}

#InfosContainer .progress-info ion-row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#InfosContainer .progress-info .progress-values {
    margin-bottom: 1.8em;
}

#InfosContainer .progress-info .important-value {
    color: var(--ion-text-color);
}

#InfosContainer .progress-info .label {
    width: 6em;
    text-align: left;
}

#InfosContainer .progress-info .output-line {
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
    border-top: solid 1px var(--ion-color-step-200);
    padding-top: 10px;
    padding-bottom: 0;
}

#InfosContainer.waiting ion-progress-bar.main-progress::part(track),
#InfosContainer.waiting ion-progress-bar::part(progress) {
    background: var(--ion-color-step-100);
}

#InfosContainer ion-progress-bar.main-progress {
    height: 1em;
}

#InfosContainer ion-progress-bar.main-progress::part(track) {
    background: #25b615;
}

#InfosContainer ion-progress-bar.main-progress::part(stream) {
    background-image: linear-gradient(90deg, var(--buffer-background) 0%, var(--buffer-background) 30%, transparent 30%);
    background-size: 0.4em 1em;
}

#InfosContainer.paused ion-progress-bar.main-progress::part(stream),
#InfosContainer.paused ion-progress-bar::part(track) {
    animation: none;
}


#InfosContainer #progress {
    flex-grow: 1;
    display: flex;
    flex-direction: row;


}

#InfosContainer #progress>ion-grid {
    flex-grow: 1;
    padding: 0;
}

#InfosContainer #progress #preview-image>div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#InfosContainer #log {
    overflow-y: scroll;
    height: auto;
    flex-grow: 2;
    white-space: pre-wrap;
    padding: 1em;
    font-size: 0.8em;
}