* {
    user-select: none; /* Standard syntax */
}

#open-settings {
    cursor: pointer;
    padding: 0 0.5em;
}
#open-settings.disabled {
    pointer-events: none;
    opacity: 0.5;
}
#open-settings:hover {
    transform: scale(1.08);
}


#content::part(scroll){
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: stretch;
}

#header {
}

#queue {
    /*height: 60%;*/
    flex-grow: 1;
    overflow-y: scroll;
}

#queue > ion-reorder-group > ion-item {
    border-bottom: solid 1px #444;
}

#instructions {
    text-align: center;
}

#dropFilesOverlay {
    position: absolute;
    width: 98%;
    height: 98%;
    background: rgba(50, 50, 50, 0.8);
    z-index: 900;
    border: dashed 7px rgba(255, 255, 255, 0.5);
    margin: 1%;

    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}