ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  color: #fff;
}

.renderItem:nth-of-type(even) {
  background-color: var(--ion-color-step-100);
}

.renderItem::before.selected {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.renderItem.done {
  pointer-events: none;
}
.renderItem.selected {
  background-color: var(--ion-color-primary);
}
.renderItem .locked {
  opacity: 0.2;
  pointer-events: none;
}
.renderItem .disabled ion-col:not(.toggle) {
  opacity: 0.2;
  pointer-events: none;
}

.renderItem .delete {
  cursor: pointer;
}

.renderingIcon {
  animation: rotate 3s linear infinite;
}
@keyframes rotate{
  to{ transform: rotate(360deg); }
}

ion-col {
  pointer-events: none;
}

ion-col > * {
  pointer-events: auto;
}
