ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #fff;
}

.renderItem {
  overflow: hidden;
  padding: 0px;
  /*border-bottom: solid 1px #444;*/
}

.renderItem:nth-of-type(even) {
  background-color: var(--ion-color-step-100);
}

.renderItem::before.selected {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.renderItem.done {
  pointer-events: none;
}

.renderItem.selected {
  background-color: var(--ion-color-primary);
}

.renderItem.selected ion-item::part(native){
  background: transparent;
}

.renderItem .locked {
  opacity: 0.2;
  pointer-events: none;
}

.renderItem .disabled ion-col:not(.toggle)>* {
  opacity: 0.2;
  pointer-events: none;
}

.renderItem .disabled ion-col ion-toggle {

  pointer-events: auto !important;
}

.renderItem .file-name {
  pointer-events: none;
}

.renderItem ion-select {
  padding-left: 0;
  max-width: auto !important;
}

.renderItem ion-item::part(native){
  background: transparent;
}

.renderItem ion-item:not(.ion-invalid)::part(native) {
  border: none;
}

.renderItem ion-item.ion-invalid::part(native) {
  border-bottom-color: var(--highlight-background);
}

.renderItem ion-input {
  text-align: center;
}

.renderItem .icon-button {
  cursor: pointer;
  padding: 0 0.45em;
}

.renderItem .icon-button.hidden {
  pointer-events: none;
  opacity: 0;
}

.renderingIcon {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.renderItem>ion-row:first-child {
  /*border-bottom: solid 1px #444;*/
}

.renderItem>ion-row:last-child {
  background-color: #333;
}

ion-col {
  pointer-events: none;
}

ion-col>* {
  pointer-events: auto;
}

.expand-icon {
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.expand-icon.opened {
  transform: rotate(90deg);
}

.expand-icon.closed {
  transform: rotate(0deg);
}

.info {
  transition: max-height .3s ease-in-out;
  font-size: 0.85em;
  padding: 0 1em;
}

.info.opened {
  display: auto;
}

.info.closed {
  display: none;
}

.info>ion-col {
  padding-top: 1em;
  padding-bottom: 1em;
}

.info a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

.info a:hover {
  text-decoration: underline;
}