ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  color: #fff;
}

.renderItem {

}
.renderItem .locked {
  opacity: 0.2;
  pointer-events: none;
}
.renderItem .disabled ion-col:not(.toggle) {
  opacity: 0.2;
  pointer-events: none;
}

.renderItem .delete {
  cursor: pointer;
}